.room {
  width: 85%;
  height: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages {
  width: 100%;
  flex: 1;
  text-align: start;
}

.messageBox {
  display: flex;
  width: 100%;
}

.userNameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: #00b0e9;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.userName {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 5px;
}

.userName:hover {
  text-decoration: underline;
}

.editUserName {
  width: 80%;
  color: white;
  background: inherit;
  border: none;
}

.messageBox[disabled] {
  opacity: 0.5;
}

.messageInput {
  border: 1px #00b0e9 solid;
  padding: 10px;
  flex: 1;
}

.sendButton {
  color: white;
  background-color: #00b0e9;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  padding: 11px;
  cursor: pointer;
}