.app {
  width: 300px;
  height: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appTitle {
  text-align: center;
}

.chatInput {
  width: 120px;
  margin: 5px;
}

.roomTitle {
  text-align: center;
}

.messages {
  width: 100%;
  flex: 1;
}

.messageRow {

}

.messageInput {
  width: 100%;
}
